@import url("https://fonts.cdnfonts.com/css/ibm-plex-mono");

body {
  font-family: "IBM Plex Mono", monospace;
  /*--bg: #000000;
  --fg: #ffffff;
  --ac: #0066aa;*/
  background: var(--bg);
  color: var(--fg);
}

#site {
  width: 64ch;
  margin: 0 auto;
}

img {
  opacity: 0.6;
}

#nav {
  /*white-space: pre;*/
  display: flex;
  justify-content: space-evenly;
}

#content {
  white-space: pre-wrap;
}

#header {
  background: var(--ac);
}

a {
  color: var(--ac);
  text-decoration: none;
}

.theme-name {
  cursor: pointer;
}
